
@import '../../../../../styles/colors';
@import '../../../../../styles/breakpoint-mixin';

:host {
  width: 100%;
}


.list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}


.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px 8px;
  margin-bottom: 16px;
  border-bottom: 1px solid $gray-medium;

  h2 {
    font-size: 1.5rem;
    font-weight: 100;
    margin-bottom: 5px;
    color: $text-black;
    font-family: 'Poppins', sans-serif;
  }
}


.horizontal-loader {
  margin: 8px 0;
  height: 4px;
}


/* Component-specific styles */
cdk-virtual-scroll-viewport {
  transition: none;
}

app-v-dropdown {
  min-width: 180px;
  margin-top: 10px;
}

app-custom-component {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

/* Full list container */
.list-container {
  width: 100%;
  height: 92vh;
  justify-content: center;
}

/* Responsive adjustments */
@include breakpoint('mobile') {
  .list-header {
    flex-direction: column;

    h2 {
      align-self: flex-start;
    }
  }

  app-v-dropdown {
    min-width: unset;
    align-self: flex-end;
  }
}
