<div class="list">
  <cdk-virtual-scroll-viewport [itemSize]="itemSize"  class="list-container" (scroll)="onScroll($event)">

  <div class="list-header">
    <h2>{{ title }}</h2>
    <span class="spacer"></span>
    <app-v-dropdown
      [options]="sortOptions"
      (selectionChange)="onSortSelectionChange($event)"
      label="Sort By"
    >
    </app-v-dropdown>
  </div>
      <app-custom-component
        *cdkVirtualFor="let item of data(); let index = index"
        [item]="item"
        [component]="itemComponent"
        [index]="index+1"
      ></app-custom-component>
      @if (isLoading()) {
        <mat-progress-bar mode="indeterminate" class="horizontal-loader">
        </mat-progress-bar>
      }
    </cdk-virtual-scroll-viewport>

 
</div>
