@import '../../../../../styles/colors';
:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $black-light;
  width: 100%;
  margin-top: 10px;
}

.tariff-list{
  width: 100%;
}