<div class="welcome-page">
  <div class="welcome-text">
    <h1>Welcome to Verivox FE Project</h1>
    <p>This project is designed to display a list of cards with sorting functionality and a responsive layout. 
      To enhance performance with large datasets, virtual scrolling is implemented,
      allowing efficient scrolling through extensive lists.
      The landing page demonstrates the use of lazy loading for optimized module loading.
      For detailed architectural decisions and codebase structure, 
      please refer to the</p>
    <p>
      <a href="https://github.com/AlifElahi/verivox-task/blob/main/ADR.md" target="_blank" class="adr-link">Architecture Decision Record (ADR)</a>
    </p>
  </div>
  <app-v-button type="raised" routerLink="/tariff-list">
    Explore tariff list
  </app-v-button>
</div>
