<div class="welcome-container">
  <!-- First Card -->

  <app-v-card class="welcome-card">
    <span> Welcome to Verivox FE Take-home Task </span>
  </app-v-card>

  <!-- Second Card -->

  <app-v-card class="tariff-card" title="Tariff List">
    <span class="tariff-card-content">
      <span>Let's check out the tariff list</span>
      <span class="action">
        <app-v-button type="raised" routerLink="/tariff-list">
          Go to Tariff List
        </app-v-button>
      </span>
    </span>
  </app-v-card>
</div>
