@import '../styles/colors';
@import '../styles/breakpoint-mixin';
#main-app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; // Ensures the full height of the viewport is used
  overflow: hidden; // Prevents content overflow issues
}

app-v-header {
  flex-shrink: 0;
  height: 60px; // Fixed height for header (adjust as needed)
  z-index: 10; // Keep the header above content
  position: relative;
  margin-bottom: 5px;
}
#main-content-container {
  flex-grow: 1; // Allow the content to grow and fill the remaining space  // Add padding equal to the header height
  overflow-y: auto;
  height: 90vh;
  background-color: $blue-light;
}
