@import '../../../../styles/colors';

:host {
  display: inline-block;
}
button {
  width: 100%;
  text-transform: uppercase;
}
/*Basic button*/
.mat-mdc-button:not(:disabled) {
  color: $primary-orange;
}
/*Raised button*/
.mat-raised-button:not(:disabled) {
  color: $white;
  background-color: $primary-orange;
}

button.selected {
  background-color: $primary-orange;
  color: $white;
}
.main-container {
  display: inline-block;
  position: relative;
  width: 100%;
}

